# fly.toml app configuration file generated for la-casa-del-folder-api on 2026-01-19T19:24:51-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'la-casa-del-folder-api'
primary_region = 'dfw'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = 'pnpm prisma generate && pnpm prisma migrate deploy'

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
